html, body {
  height: 100%;
  font-family: montserrat;
}

.left {
/*  background: url(../images/Untitled-1.png) #dadbda;*/
  background: #fbfbfb;
  height: 100%;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.left .left-inner {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 40px;
}

.right {
  background: #74c6c3;
  height: 100%;
  overflow-y: auto;
}

.white {
  color: #ffffff;
}

.me h1 {
  font-size: 40pt;
  color: #484848;
}

.light {
  font-family: montserrat-light;
}

.bold {
  font-family: montserrat-bold;
}

.thin {
  font-family: montserrat-thin;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'montserrat-light';
  src: url('../fonts/montserrat/Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat/Montserrat-Light.woff') format('woff');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/montserrat/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'montserrat-thin';
  src: url('../fonts/montserrat/Montserrat-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat/Montserrat-Thin.woff') format('woff');
}


.permission-cont {
  height: 800px;
  width: 100%;
  background: url(../images/permission_bg.png)#f5f5f5;
  display: flex;
  align-items: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.orb-bg {
  height: 800px;
  width: 100%;
  background: url(../images/ORB_BG.png)#a8d1d9;
  display: flex;
  align-items: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-1 {
  height: 800px;
  width: 100%;
  background: url(../images/bg-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}